* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

h1 {
    text-align: center;
    color: #3a3a3a;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 30px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 30px;
}

li a:hover {
    background-color: #d2d2d2;
}

a {
    text-decoration: none;
    color: #303030;
    background-color: #d2d2d2;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 30px;
}

a:hover {
    background-color: #0056b3;
}


p {
    font-size: 16px;
    margin: 10px 0;
}


a[href$="home"], a[href$="lista_contatos"] {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

